h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, .catalogue-title {
      margin-top: 84px;
      color: #ffa700;
      font-family: "Book Antiqua", Palatino, serif;
      font-weight: 500;
    }

.catalogue-item {
  color: #bbbbbb;
}

h1.title {
      font-size: 72px;
    }

h1 {
  font-size: 48px; 
}

h2 {
  font-size: 36px; 
}


h3 {
  font-size: 24px; 
  font-style: italic;
}

.post-title {
  color: #ffa700;
  font-family: "Book Antiqua", Palatino, serif;  
  font-weight: 500;
}


// This is for markdown padding color around code blocks
pre:not([class]){
  background-color: #000000;
  color: #000000;
  font-size: 16px;
  font-style: bold;
}

pre code {
  color: #f0e68c;
  font-size: 13px;
  padding: 0px;
  background-color: #000000;
}

p code {
  color: #f0e68c;
  background-color: #000000;
}


pre {
  background-color: #000;
  color: #f0e68c;
  border: 0px;
  font-size: 14px;
  padding: 12px;
}



.hljs-number {
  color: #ff7400;
}

.hljs-string {
  color: #FFFFFF;
}


html, body {
  line-height: 1.75em;
  font-size: 19px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #222222;
  color: #bbbbbb;
}

a {
  color: #ff9900;

}



